body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: 'none';
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    /* Adjust color as needed */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    /* Adjust hover color as needed */
}

.content {
    width: 100%;
    /* Adjust width as needed */
    max-width: 1000px;
    /* Adjust max-width as needed */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#name {
    font-size: 3rem;
    margin-top: 20px;
    color: #f0f0f0;
}

#course-info {
    color: #ffd700;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}

.section-heading {
    color: #add8e6;
    font-size: 2rem;
    margin-top: 30px;
    font-weight: bold;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}

.project-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center the cards horizontally */
}

.project-card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: calc(33.33% - 20px);
    /* Adjust width for three cards per row */
    max-width: 300px;
    /* Adjust max-width as needed */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center content vertically */
    text-align: center;
    /* Center content horizontally */
}

.project-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
}


.project-card a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    background-color: #007bff;
    /* Adjust color as needed */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.project-card a:hover {
    background-color: #0056b3;
    /* Adjust hover color as needed */
}
@media (max-width: 900px) {
    .project-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .project-card {
        width: calc(100% - 20px);
    }
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* Initially hide the loader */
}

.circles {
    width: 100px;
    height: 100px;
    border: 4px solid #3498db;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}